body {
    background: white;
}

#worker-pics{
width: 40%;
height:40%;
}
.navbar-global {
  background-color: indigo;
}

.navbar-global .navbar-brand {
  color: white;
}

.navbar-global .navbar-user > li > a
{
  color: white;
}

.navbar-primary {
  background-color: #ffe6ff;
  bottom: 0px;
  left: 0px;
  position: fixed;
  top: 51px;
  width: 200px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: black;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a {
  display: block;
  padding: 10px 18px;
  text-align: left;
  border-bottom:solid 1px #444;
  color: black;
}

.navbar-primary-menu li a:hover {
  background-color: #222;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: #ffccff;
}

.main-content {
  margin-top: 60px;
  margin-left: 200px;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}

#tile{
background: url(http://s1.r29static.com//bin/entry/124/x,80/1373439/image.jpg);
background-size: 100%;
background-repeat: no-repeat;
}


#dominick{
background: url(http://s1.r29static.com//bin/entry/fb0/x,80/1373334/image.jpg);
background-size: 100%; 
background-repeat: no-repeat;
}
#beverly{
background: url(https://static1.squarespace.com/static/51cb0705e4b03f555191f21d/t/5940c1bdd482e984f6b0a2cd/1497416131642/?format=2500w);
background-size: 100%; 
background-repeat: no-repeat;
}

#kate{
background: url(http://s2.r29static.com//bin/entry/daa/x,80/1373341/image.jpg);
background-size: 100%; 
background-repeat: no-repeat;
}

#kelechi{
background: url(https://files.slack.com/files-tmb/T6139LFPE-F6QFBL4K1-d7a6089331/kelechi_marie_720.jpg);
background-size: 100%; 
background-repeat: no-repeat;
}


#melody{background: url(http://s2.r29static.com//bin/entry/d05/x,80/1373332/image.jpg);
background-size: 100%; 
background-repeat: no-repeat;
}

.userContainer{
padding: 20px;

}

#worker1-modal-pic {
  height: 20%;
}

#worker1-modal-text {
  font-size: 40px;
  text-align: left;
  position: absolute;
  left: 30%;
  top: 10%;
}
#worker1-modal-text-Ash {
  font-size: 40px;
  text-align: left;
  position: absolute;
  left: 32%;
  top: 10%;
}

#worker1-modal-chatbutton {
  background-color: #4CAF50 ;
  border: none;
  color: white;
  padding: 20px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 40%;
  bottom:10%;
}

#worker2-modal-pic {
  width:30%;
}

.input-group{
  position: fixed; /* or absolute */
  top: 60%;
   left: 25%; 
   width: 50%;
}
#lity{
 position: fixed; /* or absolute */
  top: 30%;
   left: 25%; 
  /* width: 100%; */
 font-size: 1000%;
}

#firstContainer {
  max-height:400px;
}




 @media screen and (min-width: 480px) {
    .jumbotron {
      /* border-radius: 25px; */
      min-height: 100%;
   min-width: 100%;      
   max-height: 100%;
   max-width: 100%;
   color:white;
   float: left;
    }
 }

 .canvas{
 position:relative;
 top: 90%;
     /* left: 100px; */
     /* top: 200px;   */
     width:100%;
  /* padding: 0px 0px 0px 4px; */
 background-color: rgba(0,0,0,0.3);  
text-align: bottom;
 }

/* }
#dominick-text-box {
  position:relative;
  top:90%;
  background-color: rgba(0,0,0,0.3); 
}  
.lead{
position:absolute;
bottom: 100%; 


}*/

#logopic {
  margin-top: -15px;
  /* left:1px;
  top:10px; */
  height:50px;
}